<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>ADMIN</title>
</head>
<body>

<div class="container-fluid bg-dark text-white">
    <form th:action="@{/logout}" method="post">
        <div class="d-flex align-items-center justify-content-between">
            <div th:name="name" class="box">
                <span sec:authorize="isAuthenticated()">
                    <span th:text="${us.getLastName()}"></span>
                    <span th:text="${us.getEmail()}"></span>
                    <span> with roles: </span>
                    <span sec:authentication="principal.authorities">Roles</span>
                </span>
            </div>
            <div class="box">
                <input type="submit" value="Logout" class="btn btn-primary-outline text-secondary"/>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" style="padding: 0; margin-top: 10px;">
            <div class="bg-info text-white" style="padding: 10px;">
                <span>Admin</span>
            </div>
            <div style="padding: 10px;">
                <a href="/user">User</a>
            </div>
        </div>
        <div class="col-sm-10 bg-light" style="padding: 15px;">
            <h1>Admin panel</h1>
            <div class="row col-sm-4">
                <div class="col-sm-6 bg-white text-center" style="padding: 5px;">
                    <span>Users table</span>
                </div>
                <div class="col-sm-6 text-center" style="padding: 5px;">
                    <a href="/new">New User</a>
                </div>
            </div>
            <div style="border:1px solid #F6EFEE;">
                <h2 style="padding: 12px;">All users</h2>
                <table class="table table-hover bg-white" style="margin: 0;">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Age</th>
                        <th scope="col">Role</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <th scope="row" th:text="${user.getId()}"></th>
                        <td th:text="${user.getUsername()}"></td>
                        <td th:text="${user.getLastName()}"></td>
                        <td th:text="${user.getEmail()}"></td>
                        <td th:text="${user.getAge()}"></td>
                        <td th:text="${user.getRoles()}"></td>
                        <td sec:authorize="hasAnyRole('ADMIN')">
                            <button type="button" class="btn btn-info"
                                    th:data-target="${'#edit' + user.getId()}" data-toggle="modal">Edit
                            </button>
                        </td>

                        <div class="modal fade" th:id="${'edit' + user.getId()}" tabindex="-1">
                            <form th:action="@{/admin/{id}(id=${user.getId()})}"
                                  th:object="${user}" th:method="POST">
                                <input type="hidden" name="idToUpdate" th:value="${user.id}"/>

                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Edit user</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close"></button>
                                            <span aria-hidden="true">&times;</span>
                                        </div>
                                        <div class="modal-body mx-auto text-center">
                                            <div class="form-group">
                                                <strong><label for="user.id">Id</label> </strong>
                                                <input type="number" class="form-control" th:value="${user.getId()}"
                                                       id="user.id" name="id" readonly>
                                            </div>
                                            <div class="form-group">
                                                <strong><label for="user.username">First Name </label> </strong>
                                                <input type="text" class="form-control" th:value="${user.getUsername()}"
                                                       id="user.username" name="username">
                                            </div>
                                            <div class="form-group">
                                                <strong><label for="user.lastName">Last Name </label> </strong>
                                                <input type="text" class="form-control" th:value="${user.getLastName()}"
                                                       id="user.lastName" name="lastName">
                                            </div>
                                            <div class="form-group">
                                                <strong><label for="user.age">Age</label> </strong>
                                                <input type="number" class="form-control" th:value="${user.getAge()}"
                                                       id="user.age" name="age">
                                            </div>
                                            <div class="form-group">
                                                <strong><label for="user.email">Email </label> </strong>
                                                <input type="text" class="form-control" th:value="${user.getEmail()}"
                                                       id="user.email" name="email">
                                            </div>
                                            <div class="form-group">
                                                <strong><label for="user.password">Password </label> </strong>
                                                <input type="password" required class="form-control" placeholder=""
                                                       th:value="${user.getPassword()}" id="user.password"
                                                       name="password">
                                            </div>
                                            <div class = "form-group ">
                                                <strong><label>Roles</label> </strong>
                                                <select class="custom-select" id = "ROLES" name = "roles" multiple size="2">
                                                    <option th:text="ROLE_ADMIN" th:value="ROLE_ADMIN" ></option>
                                                    <option th:text="ROLE_USER" th:value="ROLE_USER" ></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <td>
                            <button type="button" class="btn btn-danger"
                                    th:data-target="${'#delete' + user.getId()}" data-toggle="modal">Delete
                            </button>
                        </td>

                        <!--< delete>-->
                        <div class="modal fade" th:id="${'delete' + user.getId()}" tabindex="-1">
                            <form th:action="@{/{id}(id=${user.getId()})}" method="POST">
                                <input type="hidden" name="idToDelete" th:value="${user.id}"/>
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Delete user</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close"></button>
                                            <span aria-hidden="true">&times;</span>
                                        </div>
                                        <div class="modal-body mx-auto text-center">
                                            <div class="form-group ">
                                                <strong><label for="userd.id">Id</label> </strong>
                                                <input type="number" class="form-control" th:value="${user.getId()}"
                                                       id="userd.id" name="id" readonly>
                                            </div>
                                            <div class="form-group ">
                                                <strong><label for="user.usernam">First Name </label> </strong>
                                                <input type="text" class="form-control" th:value="${user.getUsername()}"
                                                       id="user.usernam" name="username" readonly>
                                            </div>
                                            <div class="form-group ">
                                                <strong><label for="user.lastNam">Last Name </label> </strong>
                                                <input type="text" class="form-control" th:value="${user.getLastName()}"
                                                       id="user.LastNam" name="lastName" readonly>
                                            </div>
                                            <div class="form-group ">
                                                <strong><label for="userd.age">Age</label> </strong>
                                                <input type="number" class="form-control" th:value="${user.getAge()}"
                                                       id="userd.age" name="age" readonly>
                                            </div>
                                            <div class="form-group ">
                                                <strong><label for="userd.Email">Email </label> </strong>
                                                <input type="text" class="form-control" th:value="${user.getEmail()}"
                                                       id="userd.Email" name="email" readonly>
                                            </div>
                                            <div class="form-group ">
                                                <strong><label>Roles</label> </strong>
                                                <select multiple class="form-control " size="1" id="D.ROLES"
                                                        name="roles" readonly>
                                                    <option th:each="role:${user.getRoles()}"
                                                            th:text="${role.getName()}" readonly></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>