<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>USER</title>
</head>
<body>

<!--  <div sec:authorize="hasRole('ADMIN')">-->
<!--    <div th:each="User : ${users}">-->
<!--    <a th:href="@{/user/{id}(id=${User.getId()})}" th:text="${User.getUsername()}">user</a>-->
<!--    <a th:text="${User.getLastName()}"/>-->
<!--  </div>-->

<!--    <br/>-->
  <div sec:authorize="hasAnyRole('USER','ADMIN')">
    <div th:each="User : ${users}">
    <span  th:text="${User.getUsername()}"></span>
    <span  th:text="${User.getLastName()}"></span>
      <span  th:text="${User.getEmail()}"></span>
  </div>
    <br/>
</div>
<!--<div sec:authorize="hasAuthority('ROLE_ADMIN')">-->
<!--  <a  href="/new">Create new user</a>-->
<!--</div>-->
<!--<div sec:authorize="hasRole('ADMIN')">-->
<!--<form th:action="@{/admin}" th:object="${users}" method="get">-->
<!--  <input type="submit" value="Back" />-->
<!--</form>-->
<br/>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Logout" />
</form>
<br/>
<hr/>
</body>
</html></html>