<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>User page</title>
</head>
<body>

<div class="container-fluid bg-dark text-white">
  <form th:action="@{/logout}" method="post">
    <div class="d-flex align-items-center justify-content-between">
      <div th:name="name" class="box">
                <span sec:authorize="isAuthenticated()">
                    <span th:text="${us.getLastName()}"></span>
                    <span th:text="${us.getEmail()}"></span>
                    <span> with roles: </span>
                    <span sec:authentication="principal.authorities">Roles</span>
                </span>
      </div>
      <div class="box">
        <input type="submit" value="Logout" class="btn btn-primary-outline text-secondary"/>
      </div>
    </div>
  </form>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="padding: 0; margin-top: 10px;">
      <div style="padding: 10px;" sec:authorize="hasAnyRole('ADMIN')">
        <a href="/admin">Admin</a>
      </div>
      <div class="bg-info text-white" style="padding: 10px;">
        <span>User</span>
      </div>
    </div>
    <div class="col-sm-10 bg-light" style="padding: 15px;">
      <h1>User information-page</h1>
      <div style="border:1px solid #F6EFEE;">
        <h2 style="padding: 12px;">About user</h2>
        <table class="table table-hover bg-white" style="margin: 0;">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">Role</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="user : ${users}">
            <th scope="row" th:text="${user.getId()}"></th>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td th:text="${user.getRoles()}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>